body{
    background-color: #5584AC;   
    min-width: 200vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins' , sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: white;
    text-decoration: none;
    scroll-behavior: smooth;
}
/* --------------------------------------------------- */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20%;
}

.nav_links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

header a img{
    width: 30%;
}

header ul li{
    list-style: none;
}











